<div class="container-fluid">
<form [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">

    <div class="row">
        <div class="col-6">
        <!-- Customer form group  -->
        <div formGroupName="customer" class="form-area">
                <h3> Customer</h3> 
                
                <div class="row">
                    <div class="col-3"> <label>First Name </label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="firstName" type="text">

                            <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="alert alert-danger mt-1">

                                <div *ngIf="firstName.errors.required">
                                    First Name is required
                                </div>

                                <div *ngIf="firstName.errors.minlength">
                                    First Name must be at least 2 characters long
                                </div>

                            </div>                
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3"> <label>Last Name</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="lastName" type="text">
                            <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="alert alert-danger mt-1">

                                <div *ngIf="lastName.errors.required">
                                    Last Name is required
                                </div>

                                <div *ngIf="lastName.errors.minlength">
                                    Last Name must be at least 2 characters long
                                </div>

                            </div>      
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3"> <label>Email</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="email" type="text">
                            <div *ngIf="email.invalid && (email.dirty || firstName.touched)" class="alert alert-danger mt-1">

                                <div *ngIf="email.errors.required">
                                    First Name is required
                                </div>

                                <div *ngIf="email.errors.pattern">
                                    Email must be a valid email address format
                                </div>

                            </div>      
                        </div>
                    </div>
                </div>
        </div>

            <!-- SHIPPING ADDRESS  -->

            <div formGroupName="shippingAddress" class="form-area">
                <h3> Shipping Address </h3> 

                <div class="row">
                    <div class="col-3"> <label>Country</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="country" type="text">
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-3"> <label>Street</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="street" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3"> <label>City</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="city" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3"> <label>State</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="state" type="text">
                        </div>
                    </div>
                </div>

                
                <div class="row">
                    <div class="col-3"> <label>ZipCode</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="zipCode" type="text">
                        </div>
                    </div>
                </div>
        </div>

          <!-- Add check box to copy to billing -->
          <div class="input-space mt-2 mb-2">
            <label class="au-checkbox">
                <input type="checkbox" (change)="copyShippingAddressToBillingAddress($event)">
                <span class="au-checkmark"></span> Billing Address same as Shipping Address
            </label>
        </div>
    </div>

    <div class="col-6">
               <!-- BILLING ADDRESS  -->          
               <div formGroupName="billingAddress" class="form-area">
                <h3> Billing Address </h3> 
                
                <div class="row">
                    <div class="col-3"> <label>Country</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="country" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3"> <label>Street</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="street" type="text">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-3"> <label>City</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="city" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3"> <label>State</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="state" type="text">
                        </div>
                    </div>
                </div>

                
                <div class="row">
                    <div class="col-3"> <label>ZipCode</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="zipCode" type="text">
                        </div>
                    </div>
                </div>
        </div>
                  

                   <!-- CREDIT CARD  -->
         <div formGroupName="creditCard" class="form-area">
                <h3>Credit Card</h3> 
                
                <div class="row">
                    <div class="col-3"> <label>Card Type</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <select formControlName="cardType">
                               <option>Visa</option>
                               <option>MasterCard</option>
                           </select>
                       </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3"> <label>Name on card</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="nameOnCard" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3"> <label>Card number</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="CardNumber" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3"> <label>Security code</label></div>
                    <div class="col-md-9">
                        <div class="input-space">
                            <input formControlName="securityCode" type="text">
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3"> <label>Expiration month</label></div>
                    <div class="col-md-9">
                        <select formControlName="expirationMonth">
                            <option *ngFor="let month of creditCardMonths">
                                {{ month }}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="row">
                    <div class="col-3"> <label>Expiration year</label></div>
                    <div class="col-md-9">
                        <select formControlName="expirationYear" (change)="handleMonthsAndYears()">
                            <option *ngFor="let year of creditCardYears">
                                {{ year }}
                            </option>            
                        </select>
                    </div>
                </div>
        </div>

        <!--  order Details -->
        <div class="">
            <h3>Review Order</h3>

            <p> Total Quantity: {{ totalQuantity }}</p>
            <p> Shipping: Free</p>
            <p> Total Price: {{ totalPrice | currency: 'USD' }}</p>
        </div>
        <!-- submit button  -->
        <div class="text-center mt-3">
            <button type="submit"  class="btn btn-success">Purchase</button>
        </div>
    </div>
</div>
</form>

</div>