<h2> Food Items </h2>

<table class = "table table-striped mb-5" >
    
    <!-- ****** Filter in progress *****88 -->
    <!-- <p>
    <input 
        #query
        (keyup)="filter(query.value)"
        class="form-control" placeholder="Search...">
    </p> -->
    <thead>
        <tr>
            <th> Food Name </th>
            <th> Food Group </th>
            <th> Price </th>
            <!-- <th> Image </th> -->
            <th> Actions </th>
        </tr>
    </thead>
    <tbody>
                <tr *ngFor = "let foodItem of foodItem">
                            <td> {{ foodItem.name }} </td>
                            <td> {{ foodItem.foodGroup }} </td>
                            <td> {{ foodItem.price | currency:'USD':true }} </td>
                            <!-- <td> {{ foodItem.imgUrl }} </td> -->
                            <td> 
                                <button (click) ="updateFoodItem(foodItem.id)" class="btn btn-success" > Update </button>
                                <button (click) ="deleteFoodItem(foodItem.id)" class="btn btn-danger" style="margin-left: 10px"> Delete </button>
                                <button (click) ="foodItemDetails(foodItem.id)" class="btn btn-success" style="margin-left: 10px"> View </button>
                             </td>
                           
                </tr>

    </tbody>

</table>



