<h2> Food Items </h2>
<input type="text" [(ngModel)]="filters.keyword" name="keyword" (input)="getFoodItems()">
<table class = "table table-striped mb-5" >
    
    <thead>
        <tr>
            <th width="20%"> Food Name </th>
            <th width="20%"> Food Group </th>
            <th width="20%"> Price </th>
            <th width="20%"> Image </th>
            <th width="20%" style="margin-left: 100%;"> Actions </th>
        </tr>
    </thead>
    <tbody>
                <tr *ngFor = "let foodItem of foodItem">
                            <td scope="col"> {{ foodItem.name }} </td>
                            <td scope="col"> {{ foodItem.foodGroup }} </td>
                            <td scope="col">  {{ foodItem.price | currency:'USD':true }} </td>
                            <td><img src="{{foodItem.imgUrl}}" class="img-responsive" height="30px" width="40px"></td> 
                            <!-- <td> {{ foodItem.imgUrl }} </td> -->
                            <td> 
                                <button (click) ="updateFoodItem(foodItem.id)" class="ActionButtons btn btn-success" > Update </button>
                                <button (click) ="deleteFoodItem(foodItem.id)" class="ActionButtons btn btn-danger" > Delete </button>
                                <button (click) ="foodItemDetails(foodItem.id)" class="ActionButtons btn btn-success" > View </button>
                             </td>
                           
                </tr>

    </tbody>

</table>



