<h2> Food Items </h2>
<input type="text" [(ngModel)]="filters.keyword" name="keyword" (input)="getFoodItems()">
<table class = "table table-striped mb-5" >
    
    <!-- ****** Filter in progress *****88 -->
    <!-- <p>
    <input 
        #query
        (keyup)="filter(query.value)"
        class="form-control" placeholder="Search...">
    </p> -->
    <thead>
        <tr>
            <th scope="col"> Food Name </th>
            <th scope="col"> Food Group </th>
            <th scope="col"> Price </th>
            <!-- <th> Image </th> -->
            <th scope="col" style="margin-left: 100%;"> Actions </th>
        </tr>
    </thead>
    <tbody>
                <tr *ngFor = "let foodItem of foodItem">
                            <td scope="col"> {{ foodItem.name }} </td>
                            <td scope="col"> {{ foodItem.foodGroup }} </td>
                            <td scope="col">  {{ foodItem.price | currency:'USD':true }} </td>
                            <!-- <td> {{ foodItem.imgUrl }} </td> -->
                            <td> 
                                <button (click) ="updateFoodItem(foodItem.id)" class="ActionButtons btn btn-success" > Update </button>
                                <button (click) ="deleteFoodItem(foodItem.id)" class="ActionButtons btn btn-danger" > Delete </button>
                                <button (click) ="foodItemDetails(foodItem.id)" class="ActionButtons btn btn-success" > View </button>
                             </td>
                           
                </tr>

    </tbody>

</table>



