<div class="row">
    
    <div class="col-3">
        <select type="text" class="form-control" [(ngModel)]="filters.keyword" (input)="getFoodItems()" id = "foodCategory" name = "foodGroup">
            <option value="">All</option>
            <option value="Fruit">Fruit</option>
            <option value="Vegetable">Vegetable</option>
            <option value="Bread">Bread</option>
            <option value="Meat/Poultry">Meat/Poultry</option>
            <option value="Grains">Grains</option>
    </select>
    </div>

    <div class="col-9">
        <!-- RIGHT COLUMN -->
        <div class="row">
            <ng-container *ngFor="let foodItem of foodItem; let i = index">
                <div class="col mb-3">
                    <div class="card" style="width: 15rem; height: 18rem;">
                        <img class="card-img-top" style="max-height: 150px;" src="{{foodItem.imgUrl}}">
                        <div class="card-body">
                            <h5 class="card-title">{{foodItem.name}}</h5>
                            <p class="card-text">{{foodItem.price | currency:'USD':true}}</p>
                            <button (click)="addToCart(foodItem)" class="btn btn-success ">Add to Cart</button> 
                        </div>
                    </div>
                </div> 
                <div class="col"></div>
                <div *ngIf="(i + 1) % 3 === 0" class="w-100"></div>
            </ng-container>

        </div>
    </div>
</div>

