<!-- ---------- Header --------- -->

<nav class="header navbar navbar-expand-sm bg-success navbar-dark">
        <ul class="navbar-nav">

             <!--  POSSSIBLE NAV BAR -->
             <!-- <li class="nav-item mt-2 pl-2">
                {{ title }} 
            </li>

            <li class="nav-item">
                <a routerLink="" routerLinkActive="active" class="nav-link">Shopping Cart </a>
            </li>      
                <div ngbDropdown class="nav-item dropdown">
                    <button ngbDropdownToggle class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Actions
                    </button>
          
            <div ngbDropdownMenu class="dropdown-menu-success" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" routerLink="fooditems" routerLinkActive="active" > Food Items List </a>
                <a  class="dropdown-item" routerLink="create-fooditem" routerLinkActive="active" > Add food Item </a>
                <a class="dropdown-item" href="#">Products </a>`
            </div>
        </div> -->
        

                <!--  POSSSIBLE NAV BAR 2 -->
            <li class="nav-item" >
                <a routerLink="" routerLinkActive="active" class="nav-link"> {{title}} </a>
            </li>   
            
          
            <!-- <li class="nav-item">
                <a  routerLink="fooditems" routerLinkActive="active" class="nav-link"> Food Items List </a>
            </li>
            <li class="nav-item">
                <a routerLink="create-fooditem" routerLinkActive="active" class="nav-link"> Add food Item </a>
            </li> -->
            <!-- <li class="">
                <app-login-status></app-login-status>
            </li> -->
            <div class="pt-1">
          
            <!-- <app-cart-status></app-cart-status> -->
        </div>  
        </ul>
             <div>
            <app-login-status></app-login-status>
        </div>

        
      
        <!-- LOGIN NOT WORKING -->
    
</nav>

<!-- <h1 class="text-center pt-3"> {{title}}</h1> -->

<!-- ------- Page Content ------- --> 
<div class="container pt-4">
    
 <router-outlet></router-outlet> 
 
</div>


<!-- ---------- FOOTER --------- -->

<!-- <footer class="footer">
    <div class ="container pt-2">
            <span >All Rights Reserved @NiallGr</span>
    </div>    
</footer> -->