<div class="" >
        <div  *ngIf="!isAuthenticated"> 
                <app-cart-status></app-cart-status>
        </div>
        
    
    <div class="row" style="text-align: center;">
        <div class="col-2 AdminNavBar">
            <span *ngIf="isAuthenticated">Adminstration </span>
        </div>
        <!-- Food Item lists -->
        <div class="col-2 AdminNavBar">
             <a *ngIf="isAuthenticated" class="AdminNavBar" routerLink="fooditems" routerLinkActive="active" id="foodItemList"> Food Items List </a>
            </div>

        <!-- Add Food Item -->
        <div class="col-2 AdminNavBar">
            <a  *ngIf="isAuthenticated" class="AdminNavBar" routerLink="create-fooditem" routerLinkActive="active" id="CreateFoodItem"> Add food Item </a>
        </div>

        <!-- User Name -->
        <div class="col-4">
           <div class="AdminNavBar" *ngIf="isAuthenticated && userFullName"> Welcome back <b>{{ userFullName }}!</b></div> 
      </div>
          <!-- Login & Logout -->
        <div class="col-2"> 
            <!-- <button class="loginlogoutBTN" *ngIf="!isAuthenticated" routerLink="/login" >Login</button> -->
            <button class="loginlogoutBTN" *ngIf="isAuthenticated" (click)="logout()" id="adminLogout" >Logout</button> 
        </div>
    </div>
  

    

    
    

    

</div>