.row {
    width: 800px; margin-left: 65%; text-align: center;
}

.AdminNavBar {
    color: white;
    margin-top: 6px;
   
}

.loginlogoutBTN {
    border-radius: 10px;
    padding: 4px 10px;
    margin-top: 2px;
}

@media screen and (min-width: 1630px) {
    .row {
        width: 800px; margin-left: 110%; text-align: center;
    }
 }